.dashboard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 100dvh;
  margin: 24px;
  align-items: center;
  width: 100%;
}

.green {
  color: green;
}

.red {
  color: red;
}

.dashboard-list {
  display: flex;
  align-items: center;
  gap: 12px;
}
