.dashboard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 100dvh;
  margin: 0 24px;
  align-items: center;
  width: 100%;
}

.green {
  color: green;
}

.red {
  color: red;
}

.dashboard-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dashboard-info {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  padding-top: 24px;
}

.openFutures {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.long {
  background-color: #c1ffc1 !important;
}

.short {
  background-color: #ffc1c1 !important;
}
